
.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 25px; /*Keeps the outside spaced when smaller screens*/
}

.flex {
    display: flex;
}

.fl-between {
    justify-content: space-between;
}

