

/* MY CSS */
div.site-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 25px; /*Keeps the outside spaced when smaller screens*/
}

h1 {
    margin: 20px 0;
    text-align: center;
}
